{% extends 'usernavigation.html' %}
{% load static %}
{% block body %}


{% if error == "no" %}
<script>
    alert(' Password Changed Successfully ');
    window.location=('{% url 'logout' %}');
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert(' Invalid Login Credentials , Try Again ');
</script>
{% endif %}

<style>
    body {
      background-color: #white;
      color: black;
  }
  hr {
      border-color: white;
  }
  .btn-primary {
      background-color: #008080;
      border-color: #008080;
  }

  .btn-primary:hover {
      background-color: #006666;
      border-color: #006666;
  }

  .btn-link {
      color: #008080;
  }

  .btn-link:hover {
      color: #006666;
  }
</style>

<div class="container mt-5" style="background-color : AFC8AD">
    <div class="row">
        <div class="col-sm-6"><br><br>
            <img src=" {%static 'images/note.jpg'%}" style="width:90% ; height : 400px"><br><br><br>
        </div>
        <div class="col-sm-6 mt-2"><br>
            <h2> CHANGE PASSWORD </h2>
            <hr>
            <br>
            <form method="post">
                {% csrf_token %}
                <label> Old Password</label>
                <input class="form-control" name="old" placeholder="Enter Old Password" type="password"><br>
                <label> New Password</label>
                <input class="form-control" name="new" placeholder="Enter New Password" type="password"><br>
                <label> New Password</label>
                <input class="form-control" name="confirm" placeholder="Re Enter New Password" type="password">

                <input class="btn btn-info mt-4" style="background-color: #008080;" name="SUBMIT" type="submit"
                       value="login">
            </form>

        </div>

    </div>
</div>


{% endblock %}


