{% extends 'navigation.html' %}
{% load static %}
{% block body %}

<style>
    body {
        background-color: #000000;
        color: black;
    }
       .container {
        background-color: #282A3A;
        color: black;
    }
</style><br>


<br><br>
<div class="container">
    <div class="row" style="background-color: AFC8AD ;">
        <div class="col-sm-6 offset-sm-1 mt-5">
            <p><i class="fas fa-envelope"></i> Email ID : raghusharma2004@gmail.com </p>
            <p><i class="fas fa-phone-square"></i> Contact : 7879851185 </p>
            <p><i class="fas fa-address-card"></i> Address : H-104, Surya Vihar Colony <br>
                In front of STDC Convent School<br>
                Jagdishpur<br>
                Bhopal - 462038<br>
                Madhya Pradesh (M.P.)<br>
                India <br></p>
            <p><i class="far fa-clock"></i> Office Hours : 10:00 am to 7:00 pm </p>
            <p> Follow Us : </p>
            <a href="#"> <i class="fab fa-facebook-f "></i> </a>
            <a href="#"> <i class="fab fa-twitter pl-5"></i> </a>
            <a href="#"> <i class="fab fa-telegram-plane pl-5"></i> </a>
        </div>

        <div class="col-sm-5 mt-5">
            <iframe allowfullscreen=""
                    height="350" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                    src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d4006.444361582993!2d77.4068526925696!3d23.341910912922184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjPCsDIwJzM3LjEiTiA3N8KwMjQnMzAuNCJF!5e0!3m2!1sen!2sin!4v1710010871061!5m2!1sen!2sin"
                    style="border:0;"
                    width="400"></iframe>
            <br><br><br></div>

    </div>
</div>
<br><br><br>
{% endblock %}