{% extends 'teacher_nav.html' %}
{% load static %}
{% block body %}


<link href=" https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/2.0.2/css/dataTables.bootstrap5.css" rel="stylesheet">

<style>
    body {
        background-color: #white;
        color: black;
    }
    .container {
        background-color: #282A3A;
        color: black;
    }


    hr {
        border-color: black;
    }
    .table th,
    .table td {
        color: black;
    }
</style>

<div class="container-fluid mt-5" style="background-color : AFC8AD ;width: 95%;"><br>
    <H2 class="text-center ">VIEW PENDING NOTES</H2>

    <hr>
    <br>
    <table class="table table-bordered" id="example">
        <thead>
        <tr>
            <th>Sr. No.</th>
            <th>Uploaded By</th>
            <th>Uploading Date</th>
            <th>Branch</th>
            <th>Semester</th>
            <th>Subject</th>
            <th>File Type</th>
            <th>Description</th>
            <th>Status</th>
            <th>Download Notes</th>
            <th>Assign Status</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        {% for i in notes%}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.user.username}}</td>
            <td>{{i.uploadingdate}}</td>
            <td>{{i.branch}}</td>
            <td>{{i.semester}}</td>
            <td>{{i.subject}}</td>
            <td>{{i.filetype}}</td>
            <td>{{i.description}}</td>
            <td>{{i.status}}</td>
            <td><a class="btn btn-info" download href="{{i.notesfile.url}}">Download</a></td>
            <td><a class="btn btn-success" href="{% url 'assign_status' i.id %}">Assign&nbsp;Status</a></td>
            <td><a class="btn btn-danger" href="{% url 'delete_notes' i.id %}"
                   onclick="return confirm('Are you sure...?')">Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>

    </table>
    <br><br>
</div>


<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.2/js/dataTables.bootstrap5.js"></script>
<script>
    new DataTable('#example');
</script>

<br><br>
{% endblock %}